<div id="project-container">
    <%= render @projects %>
</div>

<br>
<div class="bottom-link" align="center">
  <%= link_to @project, method: :post, remote: true, id: "add-project", class: "btn btn-lg btn-primary blue-gradient shadow raised" do %>
    <i class="fa fa-plus"></i>
    Add TODO List
  <% end %>
</div>